@if (TempData["alert"] != null)
{

    var data = TempData["alert"] as DashTechCMS.Models.Messages.AlertBoxModel;


    <div class="col-md-8 col-md-offset-2" id="box_id">

        @switch (data.Type)
        {
            case "Error":
                <div class="box box-danger box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Error</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove" id="btnRemove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @data.Message
                    </div>
                    <!-- /.box-body -->
                </div>
                break;
            case "Info":
                <div class="box box-info box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Information</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove" id="btnRemove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @data.Message
                    </div>
                    <!-- /.box-body -->
                </div>
                break;
            case "Warning":
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Warning</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove" id="btnRemove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @data.Message
                    </div>
                    <!-- /.box-body -->
                </div>
                break;
            case "Success":
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Success</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove" id="btnRemove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @data.Message
                    </div>
                    <!-- /.box-body -->
                </div>
                break;
        }

        <!-- /.box -->
    </div>
    @*<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>

    <script>
        $("#box_id").show(500);
        $("#btnRemove").click(function () {

            $("#box_id").hide(1200);
        });
    </script>*@

}
